body{
    *{
        box-sizing: border-box;
    }

    min-height: 1080px;
    background-image: linear-gradient(334deg, #43CBFF 0%, #9708CC 100%)
}

.container{
    max-width: 720px;
    margin: 30px auto;
    background-color: white;
    opacity: 0.6;
    border-radius: 15px;
    padding: 1px 25px 25px 25px;
    min-height: 500px;
    box-shadow: 0px 0px 20px 9px #c1b9b9;
}



section.problem{
    margin-top: 40px;

    &.first 
    {
        .btnfirst{
            display: inline-block;
            border:solid 1px transparent;
            border-radius: .25rem;
            background-color:#007bff;
            border-color:#007bff;
            color:white;
            font-weight: 400;
            padding : .375rem .75rem;
            font-size: 1rem;
            text-align:center;
            vertical-align: middle;
            line-height: 1.5;            
            cursor: pointer;
            user-select: none;
            transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

        }       
        .btnfirst:hover
        {
            background-color: blue;
        } 
    }

    &.second{
      
        ul{
            border: solid 1px black;   
            position: absolute;
                   
           li{
               float: left;
               margin-left: 15px;
           }
        }
    }

    &.third{
        
        .blockthird
        {
            text-align: center;
        }
        .block{
            width: 80px;
            background-color: black;
            color: white; 
            text-align: center;
            margin:0 auto;
        }
    }

    &.fourth{
        .block{
            position: relative;
            border: solid 1px black;
            width: 100%;
            height: 500px;
        }

        .content{
            position: absolute;
            width: 300px;
            height: 30px;
            background-color: black;
            margin: auto;
            top:0;
            left:0;
            right:0;
            bottom:0;
        }
    }

    &.fifth
    {
        .result{
            border: solid 1px black;
            width: 100%;
            height: 500px;
            text-align: center;
            line-height:500px;
        }
    }

    // &.sixth{
    //    .divhide{
    //         opacity:0;
    //         float:left;
    //         width: 0;
    //     } 
    // }

    &.eighth{
        .rectangle{
            position: relative;
            background-color: black;
            width: 500px;
            height: 300px;
            margin: 0 auto;
        }

        .circle{
            position: absolute;
            margin: auto;
            width: 50px;
            height: 50px;
            border-radius: 100px;
            background-color: white;
            margin: auto;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            cursor: pointer;

        }
        .circle:hover{
            width:500px;
            height:300px;
            transition:all 1s;
            border-radius: 0;
        }
        .rectangle:hover{
            transition:all 1s;
            box-shadow:  0px 0px 20px 9px #c1b9b9;
        }
    }

    &.demo{
        div.parentDiv{
            position: static;
            width: 500px;
            height: 30px;
            background-color: red;

        }
        div.child{
            position: absolute;
            width: 500px;
            height: 30px;
            background-color: yellow;
            top: 30px;
        }
    }
}